<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-warehouse"></i> Resumo
    </h1>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Módulo de Usuários
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','cadastro','usuario']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Módulo de Motoristas
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','cadastro','motorista']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-users position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Módulo de Veículos
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','transporte','veiculo']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-truck position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Tipos de Veículos
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','transporte','categoria']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-list position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Módulo de Viagens
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','transporte','viagens']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-map-signs position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    Endereços
                    <small class="m-0 l-h-n">
                        <button [routerLink]="['/admin','endereco','endereco']"
                                class="btn btn-primary">
                            Acessar
                        </button>
                    </small>
                </h3>
            </div>
            <i class="fal fa-map-marker-alt position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
</div>
