<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Gerenciador de Viagens
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form (ngSubmit)="salvaViagem()">

                    </form>
                </div>
                <div class="panel-content">
                    <div class="panel-tag">
                        All panels needs to have an unique ID in order to use the panel funtions. <code>.panel</code> is a container with no padding, <code>.panel-hdr</code> has a <code>min-height</code> value and default <code>flexbox</code> properties. The <code>.panel-toolbar</code> is inserted into <code>.panel-hdr</code> for extra elements. The <code>.panel-container</code> wraps <code>.panel-content</code> which has a predefined padding.
                    </div>
                    <p>
                        Default panel text.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
