<div class="subheader">
    <h1 class="subheader-title">
        <i class="subheader-icon fal fa-cogs"></i> Configurações
    </h1>
</div>
<div class="col-xl-12">
    <div id="panel-3" class="panel">
        <div class="panel-container show">
            <div class="panel-content">
                <div class="row">
                    <div class="col-xl-6">
                        <h5 class="frame-heading">
                            Switch checkbox
                        </h5>
                        <div class="frame-wrap demo">
                            <div class="demo">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">Unchecked</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2" checked="">
                                    <label class="custom-control-label" for="customSwitch2">Checked</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" disabled="" id="customSwitchd">
                                    <label class="custom-control-label" for="customSwitchd">Disabled</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked="" disabled="">
                                    <label class="custom-control-label" for="customSwitch3">Checked &amp; disabled</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <h5 class="frame-heading">Switch Radio</h5>
                        <div class="frame-wrap demo">
                            <div class="demo">
                                <div class="custom-control custom-switch">
                                    <input type="radio" class="custom-control-input" id="customSwitch1radio" name="defaultSwitchRadioExample">
                                    <label class="custom-control-label" for="customSwitch1radio">Unchecked</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="radio" class="custom-control-input" id="customSwitch2radio" checked="" name="defaultSwitchRadioExample">
                                    <label class="custom-control-label" for="customSwitch2radio">Checked</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="radio" class="custom-control-input" disabled="" id="customSwitchdradio" name="defaultSwitchRadioExample2">
                                    <label class="custom-control-label" for="customSwitchdradio">Disabled</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="radio" class="custom-control-input" id="customSwitch3radio" checked="" disabled="" name="defaultSwitchRadioExample2">
                                    <label class="custom-control-label" for="customSwitch3radio">Checked &amp; disabled</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
